// * {
//   border: 1px solid black;
// }

//Flex
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-self-center {
  align-self: center;
}

//Fonts and colors

body {
  font-family: $main-font-family;
  font-size: 18px;
  margin: 0px;
  color: $text-color-dark;
}

.text-white {
  color: white;
}

.text-bright {
  color: $bright-color;
}

a {
  text-decoration: none;
  color: inherit;
}

//Margins and paddings
.padding-sm-sides {
  padding: 0 10px;
}

.padding-md {
  padding: 30px;
}

//HTML Elements
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/images/background_header.jpg); 
  -webkit-background-size: cover, cover;;
  -moz-background-size: cover, cover;
  -o-background-size: cover cover;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-attachment: fixed, fixed;

  height: 100vh;
}

nav {
  .initials {
    font-size: 2em;
  }
  ul {
    margin: 0px;
  }
  li {
    display: inline-block;
    a {
      padding-bottom: 5px;
      &:hover {
        border-bottom: 2px solid $bright-color;
      }
    }
  }
}

.intro {
  text-align: center;
  padding: 80px 50px;
}

hr {
  width: 70%;
}

h2 {
  text-align: center;
}

section {
  padding: 50px 0;
}

.btn {
  border: 1px solid $bright-color;
  padding: 10px 20px;
  border-radius: 50px;
  &:hover {
    color: white;
    background-color: $bright-color;
  }
}

.btn-resume {
  
}

.about-me-container {
  p {
    padding: 0 30px;
    font-size: 1.2em;
  }
}

.portfolio-container {
  min-height: auto;
}


.carousel-cell {
  width: 100%;
}

.text-center {
  text-align: center;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/images/background_footer.jpg);
  min-height: 100px;
    -webkit-background-size: cover, cover;
  -moz-background-size: cover, cover;
  -o-background-size: cover cover;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left top;
  background-attachment: fixed, fixed;
}

/* Desktop and Tablet */
@media (min-width: 1000px) {

  .intro {
    padding: 150px 50px;
  }

  hr {
      width: 30%;
    }

  .about-me-container {
    p {
      padding: 0 200px;
    }
  }
}
