// * {
//   border: 1px solid black;
// }

//Flex
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-self-center {
  align-self: center;
}



//Fonts and colors

body {
  font-family: $main-font-family;
  font-size: 18px;
  margin: 0px;
  color: $font-color-dark;
}

.text-white {
  color: $font-color-light;
}

.text-bright {
  color: $bright-color;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-transform: uppercase;
}

//Margins and paddings
.padding-sm-sides {
  padding: 0 10px;
}

.padding-md {
  padding: 30px;
}

//HTML Elements
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/images/background_header.jpg); 
  -webkit-background-size: cover, cover;;
  -moz-background-size: cover, cover;
  -o-background-size: cover cover;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-attachment: fixed, fixed;

  min-height: 100vh;
}

nav {
  .initials {
    font-size: 2em;
  }
  ul {
    margin: 0px;
  }
  li {
    display: inline-block;
    a {
      padding-bottom: 5px;
      &:hover {
        border-bottom: 2px solid $bright-color;
      }
    }
  }
}

.intro {
  text-align: center;
  padding: 80px 50px;
}

hr {
  width: 70%;
}

h2 {
  text-align: center;
}

section {
  padding: 50px 0;
}

.section-title {
  padding-left: 0px;
  text-align: center;
}

.desktop-hidden {
  display: initial;
}

.btn {
  border: 1px solid $bright-color;
  padding: 10px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  &:hover {
    color: white;
    background-color: $bright-color;
  }
}

.btn-resume {

  align-self: center;
  border: 3px solid $bright-color;
  margin-bottom: 30px;
  i {
    padding-right: 10px;
  }
}

.scroll-down {

  width: 170px;
  padding-bottom: 20px;
  color: $bright-color;
  min-height: 50px;
  .hide-on-hover {
    font-size: 2em;
  }
}
 .show-on-hover{ 
   display: none;
 }
 .scroll-down:hover .show-on-hover{
   display : block;
 }
 .scroll-down:hover .hide-on-hover{
   display : none;
 }

.about-me-container {
  p {
    text-align: justify;
  }
  p, .tech-stack, .hobbies {
    padding: 0 30px;
  }
  p {
    font-size: 1.2em;
  }
}

.tech-stack, .hobbies {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $secondary-color;
  h4 {
    border-bottom: 1px solid $bright-color;
    padding-bottom: 5px;
  }

  .list {
    padding: 0;
    min-width: 300px;
    i {
      padding: 0px 7px;
    }
  }
}

.hobbies .list {
  display: flex;
  justify-content: space-between;
}

.portfolio-container {
  min-height: auto;
  background-color: $feature-color;
  .desktop-hover {
    &:hover {
      color: $bright-color;
    }
  }
}

.carousel-cell {
  width: 100%;
  img {
    max-width: 60%;
  }
}

.portfolio-description {
  padding: 20px 30px;
}

.text-center {
  text-align: center;
}

.contact {
  flex-direction: column;
  background-color: $secondary-color;
  padding: 90px;
  p {
    color: darken($font-color-light, 30%);
  }
  .email {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid $bright-color;
    margin-bottom: 30px;
    &:hover {
      border-bottom: 1px solid $bright-color;
      color: $bright-color;
    } 
  }
  i {
    font-size: 1.2em;
  }
  a:hover {
    color: $bright-color;
  }
}

.email, .soial {
  //font-size: 1.3em;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  background-color: $secondary-color;
  min-height: 100px;
    -webkit-background-size: cover, cover;
  -moz-background-size: cover, cover;
  -o-background-size: cover cover;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left top;
  background-attachment: fixed, fixed;
  font-size: 0.7em;
  color: darken($font-color-light, 30%);
}

/* Desktop and Tablet */

@media (min-width: 900px) {

  .desktop-hidden {
    display: none;
  }

  .intro {
    padding: 75px 50px;
  }

  hr {
      width: 30%;
    }

  .section-title {
    padding-left: 90px;
    text-align: left;
  }

  .about-me-container {
    p, .tech-stack, .hobbies {
      padding: 0 200px;
    }
    a {
      border-bottom: 0.5px dotted grey;
      &:hover {
        color: $bright-color;
        border-bottom: 0.5px dotted $bright-color;
      }
    }
  }

  .tech-stack, .hobbies {
  flex-direction: row;
  }

  .portfolio-description {
    padding: 20px 200px;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;

    h2 {
      text-align: left;
    }
  }
}

//Extra-small screens

@media (max-width: 420px) {
  .intro {
    padding: 40px;
    font-size: 0.8em;
  }
}
