//Fonts
$main-font-family: 'Lato', sans-serif;

//Colors

$font-color-light: #F7F7F7;

//Teal
$feature-color: #51B0B8;

//Lavander
$secondary-color: #6A658C;

//Dusty Rose
$font-color-dark: #676767;

//Sunshine
$bright-color: #FBA100;
