//Fonts

$main-font-family: 'Vollkorn', serif;

//Colors

//FONTS

//White
$font-color-light: #F7F7F7;

//Dusty Rose
$font-color-dark: #676767;

//Sunshine
$bright-color: #FBA100;

//Teal
$feature-color: #51B0B8;

//Lavander
$secondary-color: #6A658C;


