//Fonts
$main-font-family: 'Lato', sans-serif;

//Colors

//Teal
$feature-color: #51B0B8;

//Lavander
$secondary-color: #6A658C;

//Dusty Rose
$text-color-dark: #676767;

//Sunshine
$bright-color: #FBA100;
